<h1>Listing resource_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Required fields</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resource_types.each do |resource_type| %>
  <tr>
    <td><%= resource_type.name %></td>
    <td><%= resource_type.required_fields %></td>
    <td><%= link_to 'Show', resource_type %></td>
    <td><%= link_to 'Edit', edit_resource_type_path(resource_type) %></td>
    <td><%= link_to 'Destroy', resource_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource type', new_resource_type_path %>
