<div class="embedded_node">
  <div id="node_options">
    <a href="#editing_node" id="edit_node">edit</a>
    <a href="#viewing_history_node" id="history_node">view history</a>
  </div>
  <div id="node_edit" class="node_option_content">
    <%= form_for @node, :url=>"/nodes/#{@node.id}?return=true", :remote => true do |f| %>
      <%= f.label :introduction, "Editing textile:" %> <a href="http://redcloth.org/textile/writing-paragraph-text/" id="textile_ref" target="_blank">textile reference</a>
      <%= f.text_area :introduction, :rows => 16 %>
      <input id="redcloth_preview" name="preview" type="button", value="Preview Changes">
      <%= f.submit "Save Changes!" %>
      <span id="inline_notice"></span>
    <% end %>
  </div>
  <div id="node_history" class="node_option_content">
    <%= render :partial => "nodes/history" %>
  </div>
    
  <h2 id="node_title"><%= @node.name %></h2>
  <div id="node_intro">
  <%= raw RedCloth.new((@node.introduction or "")).to_html %>
  </div>
  
  <%= javascript_tag "
    $('#node_options')[0].toggle_option = function(opt, action) {
      opt_tab = $('#'+opt+'_node')
      opt_div = $('#node_'+opt)
      mode = opt_tab.attr('href').split('#')[1].split('!').pop()
      if(action!='show' && (opt_tab.hasClass('active') || action=='hide')) {
        opt_tab.attr('href', '#'+mode).parent().children().removeClass('active');
        $('.node_option_content').removeClass('active');
      } else {
        opt_tab.siblings().removeClass('active');
        opt_tab.addClass('active').attr('href', '#!'+mode);
        opt_div.addClass('active');
      }
    }
    $('#redcloth_preview').click(function(){$.ajax({
      type: 'POST',
      url: '/nodes/preview',
      data: {'textile':$('#node_introduction').val()},
      success: function(r){
        $('#node_intro').html(r);
        $('#inline_notice').addClass('success_notice');
        $('#inline_notice').removeClass('error_notice');
        $('#inline_notice').html('Preview updated Sucessfully!');
      },
      error: function(r){
        $('#inline_notice').addClass('error_notice');
        $('#inline_notice').removeClass('success_notice');
        $('#inline_notice').html('Error: Preview could not be updated!');
      },
      dataType: 'text'
    });});
    $(edit_node_#{@node.id}).bind('ajax:success', function(data, status, xhr){
        $('#inline_notice').addClass('success_notice');
        $('#inline_notice').removeClass('error_notice');
        $('#inline_notice').html('Text updated Sucessfully!');
        $('#node_intro')[0].display_version()
      }).bind('ajax:error', function(data, status, xhr){
        $('#inline_notice').addClass('error_notice');
        $('#inline_notice').removeClass('success_notice');
        $('#inline_notice').html('Error: something went wrong, the text may not have been updated!');
    });
    $('#node_intro')[0].display_version = function(v){$.ajax({
      type: 'GET',
      url: '/nodes/#{@node.id}:v' + (v||''),
      success: function(response){$('#node_intro').html(response)}
    })}
  "%>
</div>