<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @node.name %>
</p>

<p>
  <b>Introduction:</b>
  <%= @node.introduction %>
</p>

<% if @node.thing%>
<p>
  <b>Thing:</b>
  <%= link_to @node.thing.name, [:ontology,@node.thing] %>
</p>
<% end %>


<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
