<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @node.name %>
</p>

<p>
  <b>Introduction:</b>
  <%= @node.introduction %>
</p>

<p>
  <b>Thing:</b>
  <%= link_to @node.thing.name, @node.thing %>
</p>


<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
