<h2>Regions sets</h2>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Number of Regions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @region_sets.each do |region_set| %>
  <tr>
    <td><%= region_set.name %></td>
    <td><%= region_set.description %></td>
    <td><%= region_set.regions.size %></td>
    <td><%= link_to 'Show', region_set %></td>
    <td><%= link_to 'Edit', edit_region_set_path(region_set) %></td>
    <td><%= link_to 'Destroy', region_set, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to "New Region Set", new_region_set_path %>
