<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h2><%= "Region Set: #{@region_set.name}" %></h2>

<p>
  <b>Description:</b><br>
  <%= @region_set.description %>
</p>

<h4>Regions:</h4>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Number of Definitions</th>
    <th></th>
    <th></th>
  </tr>

<% @region_set.regions.each do |region| %>
  <tr>
    <td><%= region.name %></td>
    <td><%= region.description %></td>
    <td><%= region.region_definitions.size %></td>
    <td><%= link_to 'Show', region %></td>
    <td><%= link_to 'Edit', edit_region_path(region) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back to Region sets', region_sets_path %> | 
<%= link_to 'Edit', edit_region_set_path(@region_set) %>
