<h1>Listing shapes</h1>

<table>
  <tr>
    <th>Volume</th>
    <th>Label</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shapes.each do |shape| %>
  <tr>
    <td><%= shape.volume_id %></td>
    <td><%= shape.label %></td>
    <td><%= link_to 'Show', shape %></td>
    <td><%= link_to 'Edit', edit_shape_path(shape) %></td>
    <td><%= link_to 'Destroy', shape, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shape', new_shape_path %>
