<%= form_for(@shape_set) do |f| %>
  <% if @shape_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shape_set.errors.count, "error") %> prohibited this shape set from being saved:</h2>

      <ul>
      <% @shape_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% editing = params["action"]=="edit" %>

  <div class="field">
    <%= f.label :subject %><br />
    <% if editing %>
    <%= f.text_field :subject, :disabled=>true %>
    <% else %>
    <%= select_tag :existing_subjects, options_for_select(ShapeSet.subjects << "Create new subject") %>
    <%= f.text_field :subject, :style=>"display:none" %>
    <% end %>
  </div>
  <%= content_tag :div, :id => :versioning, :class => "feild", :data => ShapeSet.next_versions do %>
    <%= label :version, :shape_set %><br />
    <%= text_field :version, :shape_set, :disabled=>editing %>
  <% end %>
  <div class="field">
    <%= f.label :change_log %><br />
    <%= f.text_area :change_log, :size => "33x6", :disabled=>editing %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :size => "33x6" %>
  </div>
  <div class="field">
    <%= f.label :default_perspective %><br />
    <%= f.select :default_perspective, 
                 ["Create new empty perspective", *Perspective.all.map(&:name)],
                 :selected => @shape_set.default_perspective.name %>
  </div>
  <% if editing %>
   <div class="field">
     <%= f.label :radius %><br />
     <%= f.number_field :radius, {:min => 1, :step => 0.0001}%>
   </div>
   <div class="field">
     <%= label :center_point, "Center Point" %><br />
     x: <%= number_field :center_point, :x, :value => @shape_set.center_point[0], :step => 0.0001 %>  y: <%= number_field :center_point, :y, :value => @shape_set.center_point[1], :step => 0.0001 %>  z: <%= number_field :center_point, :z, :value => @shape_set.center_point[2], :step => 0.0001 %> 
   </div>
  <% else %>
  <div class="field">
    <%= f.label :shape_data_file, "Upload a shape set" %>
	  <%= f.file_field :shape_data_file %>
	</div>
	<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= javascript_tag "
var update_subject = function() {
  v = $('#existing_subjects').val()
  if(v == 'Create new subject') {
    $('#shape_set_subject').css('display','block').val('');
    $('#version_shape_set').val('0.0.1');
  } else {
    $('#shape_set_subject').css('display','none').val(v);
    $('#version_shape_set').val($('#versioning').data(v));
  }
}
$('#existing_subjects').focus(update_subject)
$('#existing_subjects').change(update_subject)
update_subject()
"%>
