<h1>Listing region_styles</h1>

<table>
  <tr>
    <th>Colour</th>
    <th>Transparency</th>
    <th>Label</th>
    <th>Orphaned</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @region_styles.each do |region_style| %>
  <tr>
    <td><%= region_style.colour %></td>
    <td><%= region_style.transparency %></td>
    <td><%= region_style.label %></td>
    <td><%= region_style.orphaned %></td>
    <td><%= link_to 'Show', region_style %></td>
    <td><%= link_to 'Edit', edit_region_style_path(region_style) %></td>
    <td><%= link_to 'Destroy', region_style, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Region style', new_region_style_path %>
