<p id="notice"><%= notice %></p>

<h1>Listing things</h1>

<table class="backend_data">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Synonyms</th>
    <th>Neurolex Category</th>
    <th>DBpedia Resource</th>
    <th>Wikipedia Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @things.each do |thing| %>
  <tr>
    <td><%= thing.name %></td>
    <td><%= thing.description %></td>
    <td><%= thing.type.name %></td>
    <td><%= thing.synonyms %></td>
    <td><%= thing.neurolex_category %></td>
    <td><%= thing.dbpedia_resource %></td>
    <td><%= thing.wikipedia_title %></td>
    <td><%= link_to 'Show', [:ontology, thing] %></td>
    <td><%= link_to 'Edit', edit__ontology_thing_path(thing) %></td>
    <td><%= link_to 'Destroy', [:ontology, thing], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Thing', new_ontology_thing_path %>
