<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @thing.name %>
</p>

<p>
  <b>Type:</b>
  <%= @thing.type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @thing.description %>
</p>

<p>
  <b>Synonyms:</b>
  <%= @thing.synonyms %>
</p>

<p>
  <b>Neurolex category:</b>
  <%= link_to @thing.neurolex_category,  "http://neurolex.org/wiki/Category:#{@thing.neurolex_category}"%>
</p>

<p>
  <b>Dbpedia resource:</b>
  <%= link_to @thing.dbpedia_resource,  "http://dbpedia.org/page/#{@thing.dbpedia_resource}"%>
</p>

<p>
  <b>Wikipedia title:</b>
  <%= link_to @thing.wikipedia_title,  "http://en.wikipedia.org/wiki/#{@thing.wikipedia_title}"%>
</p>

<p>
  <b>Node:</b>
  <%= @thing.node ? link_to(@thing.node.name, @thing.node) : "none" %>
</p>


<%= link_to 'Edit', edit_ontology_thing_path(@thing) %> |
<%= link_to 'Back', ontology_things_path %>
