<h1>Listing relations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Object Type</th>
    <th>Subject Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @relations.each do |relation| %>
  <tr>
    <td><%= relation.name %></td>
    <td><%= relation.description %></td>
    <td><%= relation.object_type.name %></td>
    <td><%= relation.subject_type.name %></td>
    <td><%= link_to 'Show', relation %></td>
    <td><%= link_to 'Edit', edit_relation_path(relation) %></td>
    <td><%= link_to 'Destroy', relation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Relation', new_ontology_relation_path %>
