<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @relation.name %>
</p>

<p>
  <b>Description:</b>
  <%= @relation.description %>
</p>


<%= link_to 'Edit', edit_ontology_relation_path(@relation) %> |
<%= link_to 'Back', ontology_relations_path %>
