<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @rating.value %>
</p>

<p>
  <b>Comment:</b>
  <%= @rating.comment %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
