<h2>Listing facts</h2>

<table class="backend_data">
  <tr>
    <th>Relation</th>
    <th>Subject</th>
    <th>Object</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facts.each do |fact| %>
  <tr>
    <td><%= link_to fact.relation, [:ontology,fact.relation] %></td>
    <td><%= link_to fact.subject, [:ontology,fact.subject] %></td>
    <td><%= link_to fact.object, [:ontology,fact.object] %></td>
    <td><%= link_to 'Show', [:ontology,fact] %></td>
    <td><%= link_to 'Edit', edit_ontology_fact_path(fact) %></td>
    <td><%= link_to 'Destroy', fact, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fact', new_ontology_fact_path %>
