<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h2><%= "Perspective: #{@perspective.name}" %></h2>

<p>
  <b>Description:</b>
  <%= @perspective.description %>
</p>

<p><b>Height:</b> <%= @perspective.height %></p>

<p><b>Angle:</b> <%= @perspective.angle %></p>

<p><b>Distance:</b> <%= @perspective.distance %></p>

<p><b>Inherits region_styles from:</b> <%= @perspective.has_external_styles? ? @perspective.style_set.name : "none" %></p>

<br><h4>Regions:</h4>

<table  class="backend_data">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Number of Definitions</th>
    <th></th>
  </tr>

<% @perspective.region_styles.each do |region_style|
     next if region_style.orphaned
     next unless region = region_style.region %>
  <tr>
    <td><%= region.name %></td>
    <td><%= region.description %></td>
    <td><%= region.region_definitions.size %></td>
    <td><%= link_to 'Show', region %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back to Perspectives', perspectives_path %> | 
<%= link_to 'Edit', edit_perspective_path(@perspective) %>
