<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @perspective.name %>
</p>

<p>
  <b>Description:</b>
  <%= @perspective.description %>
</p>

<p>
  <b>Height:</b>
  <%= @perspective.height %>
</p>

<p>
  <b>Angle:</b>
  <%= @perspective.angle %>
</p>

<p>
  <b>Distance:</b>
  <%= @perspective.distance %>
</p>

<p>
  <b>Inherits RegionStyles from:</b>
  <%= @perspective.has_external_styles? ? @perspective.style_set.name : "none" %>
</p>


<%= link_to 'Edit', edit_perspective_path(@perspective) %> |
<%= link_to 'Back', perspectives_path %>
