<%= form_for(@mesh) do |f| %>
  <% if @mesh.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mesh.errors.count, "error") %> prohibited this mesh from being saved:</h2>

      <ul>
      <% @mesh.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
	<p>
	  <%= f.label :meshdata, "Upload a meshfile" %>
	  <%= f.file_field :meshdata %>
	</p>
    <%= f.submit %>
  </div>
<% end %>
