<h2>Regions</h2> <%= link_to "create new region", new_region_path %>


<table class="backend_data">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Definitions</th>
    <th>Decompositions</th>
    <th>Perspectives</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regions.each do |region| %>
  <tr>
    <td><%= region.id %></td>
    <td><%= link_to region.name, region%></td>
    <td><%= region.description %></td>
    <td><%= region.region_definitions.size %></td>
    <td><%= region.decompositions.size %></td>
    <td><%= region.perspectives.size %></td>
    <td><%= link_to 'Destroy', region, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br>