<h2>Regions</h2>

<table class="backend_data">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Number of Definitions</th>
    <th>Number of Decompositions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regions.each do |region| %>
  <tr>
    <td><%= region.id %></td>
    <td><%= region.name %></td>
    <td><%= region.description %></td>
    <td><%= region.region_definitions.size %></td>
    <td><%= region.decompositions.size %></td>
    <td><%= link_to 'Show', region %></td>
    <td><%= link_to 'Edit', edit_region_path(region) %></td>
    <td><%= link_to 'Destroy', region, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to "New Region", new_region_path %>
