<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h2>Region: <%= @region.has_name? ? @region.name : "<i>@region.label</i>" %></h2>

<p>
  <b>Label:</b>
  <%= @region.label %>
</p>
<p>
  <b>Description:</b>
  <%= @region.description %>
</p>
<br>

<h4>Definitions:</h4>

<%= @region_definitions = @region.region_definitions
    render :partial => 'region_definitions/index' %>

<br>
<h4>Decompositions:</h4>
<%= "none" if @region.decompositions.empty? %>
<ul>
	<% @region.decompositions.each do |d| %>
	<li><%= link_to "  #{d.rank}. #{d.description}", d %></li>
	<% end%>
</ul>
<br>
<div>
  <%= form_tag(new_region_definition_path, :method => "get") do  %>
  <%= hidden_field_tag(:region, @region.id) %>
  <%= label_tag :shape_set, "Select a shape set"%>
  <%= select_tag :shape_set, options_for_select(@free_shape_sets.map {|shape_set| [shape_set.name, shape_set.id]}) %>
  <%= submit_tag "New Definition" %>
    
  <% end %>
</div>

<%= link_to 'Back to Regions', regions_path %> | 
<%= link_to 'Edit', edit_region_path(@region) %>
