<%
  actions = Hash[
    explore: ["explore","home","access_node"],
    quiz: ["quiz"],
    about: ["about"],
    contact: ["contact"]  
  ]
  current = nil
  actions.each { |l,as| current = l.to_s if as.include? params[:action] }
%>
<nav class="header_nav">
  <%= link_to "Explore",  "/",        :class => (current == "explore"  ? "current" : "") %>
  <%= link_to "Quiz",     "/quiz",    :class => (current == "quiz"     ? "current" : "") %>
  <%= link_to "Topics",   "/topics",  :class => (current == "topics"   ? "current" : "") %>
  <%= link_to "About",    "/about",   :class => (current == "about"    ? "current" : "") %>
  <%= link_to "Contact",  "#contact", :class => (current == "contact"  ? "current" : "") %>
</nav>