<div id="quiz_area">
  
<%= content_tag :div, :id=>"quiz_status", :class=>"neutral", :onclick=>"context.current_controller.qm.start(get_quiz_list())" do %>
<p>Click to start!</p>
<% end %>

<%= content_tag :div, :id=>"quiz_controls", :class=>"quiz_panel" do %>
  
  <span id="quiz_progress">2/2</span>
  <button onclick="context.current_controller.qm.pass()">Skip Question</button>
  <button onclick="context.current_controller.qm.terminate()">End Quiz</button>
  <div id="mcq_widgets">
  <ol id="mcq_answers">
    <li><input type="radio" id="answerA" name="mcq_answers" /><label for="answerA">Find area</label></li>
    <li><input type="radio" id="answerB" name="mcq_answers" /><label for="answerB">Label area</label></li>
    <li><input type="radio" id="answerC" name="mcq_answers" /><label for="answerC">Find area</label></li>
    <li><input type="radio" id="answerD" name="mcq_answers" /><label for="answerD">Label area</label></li>
    <li><input type="radio" id="answerE" name="mcq_answers" /><label for="answerE">Label area</label></li>
  </ol>
  <button onclick="">Submit answer</button>
  </div>
<% end %>

<%= content_tag :div, :id=>"quiz_mode", :class=>"quiz_panel" do %>
<h3>Quiz Type</h3>
<div id="buttonset">
<input type="radio" id="search_mode" name="quiz_modes" checked="checked" /><label for="search_mode">Find area that matches a label</label><br>
<input type="radio" id="mcq_mode"    name="quiz_modes" /><label for="mcq_mode">Choose label that matches an area</label>
</div>
<% end %>

<%= content_tag :div, :id=>"quiz_list", :class=>"quiz_panel" do %>
  <h3>Quiz Contents</h3>
  <span class="check_all"><%= label :action, :check_all %>
  <%= check_box :action, :check_all, :checked=>true %></span>
  <%= content_tag :fieldset, :id=>:target_list, :data=>{:regions=>@quiz_list} do %><ul>
  
  </ul><% end %>
<% end %>

<%= content_tag :div, :id=>"quiz_stats", :class=>"quiz_panel" do %>
<h3>Your Quiz Stats</h3>
Graph accuracy for each item
<% end %>


<%= javascript_tag "
$(window.get_quiz_list = function() { tlist = []; $('#target_list input[type=checkbox]:checked').each(function(f){tlist.push(parseInt(this.id.split('_')[1]))}); return tlist;},
$('#action_check_all').change(function(){
  if(this.checked) $(this).siblings('label').html('Uncheck all')
  else $(this).siblings('label').html('Check all')
  $('#quiz_list input[type=checkbox]').attr('checked', this.checked)
})
)
"%>
</div>