<!DOCTYPE html>
<html>
<head>
  <title>Neuroanatomist</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jax/application" %>
  <%= csrf_meta_tags %>
</head>
<body onload="start_jax('webgl','scene')">

<%= yield %>


<% #div id="tooltip">
  #<div id"ttlabel"></div>
  #<div id"ttinfo"></div>
  #<div id="ttmenu"></div>
#<div%>
</body>
</html>
