<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title>Neuroanatomist</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jax/application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8" />
</head>
<body onload="start_jax('webgl','scene')">
<div id="page">
  <header class="page">
    <%= render :partial => "layouts/header_bar"%>
  </header>
  <div id="content_wrapper">
    <div class="header_push"></div>
    <div id="notice_area">
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>
    </div>
    <div id="content">
      <%= yield %>  
    </div>
    <div class="footer_push"></div>
  </div>
  <footer class="page">
    <%= render :partial => "layouts/footer_bar"%>
  </footer>
</div>
</body>
</html>
